@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Secret";
}
<h1>@ViewData["Title"]</h1>

<p>Secret info just for you @User.Identity?.Name</p>